<div id="<%= dom_id user %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= user.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= user.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address line1:</strong>
    <%= user.address_line1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address line2:</strong>
    <%= user.address_line2 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= user.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= user.state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Zip:</strong>
    <%= user.zip %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Instagram url:</strong>
    <%= user.instagram_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Facebook url:</strong>
    <%= user.facebook_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Display name:</strong>
    <%= user.display_name %>
  </div>
</div>
