<div id="<%= dom_id swap %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Swap group:</strong>
    <%= swap.swap_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= swap.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Theme:</strong>
    <%= swap.theme %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Deadline:</strong>
    <%= swap.deadline %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= swap.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rules:</strong>
    <%= swap.rules %>
  </div>
</div>
